@import "tailwindcss";

@theme {
  --color-background: #141f14;
  --color-primary: #4a6e3c;
  --color-lightprimary: #7aaa68;
  --color-loginbg: #24512e;
  --color-secondary: #D4621A;
  --color-text: #e8d5a0; 
  --animate-gradient: gradientFlow 12s ease infinite;

  @keyframes gradientFlow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
